services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
            target: dev
        ports:
            - 8080:8080
        volumes:
            - .:/app
        env_file:
            - .env
        environment:
            - OTEL_EXPORTER_DISABLED=true
